


.faq_container{
  width: 70%;
  margin: 2rem auto;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  /* background: rgb(194,194,194);
  background: linear-gradient(0deg, rgba(194,194,194,1) 0%, rgba(144,207,142,1) 100%); */
  font-family: primary-font-Medium;


}

.faq_item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.faq_question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 0;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  font-family: primary-font-light;
  font-weight: 400;
}


/* .faq-question:hover {
  color: darkgreen; /*
} */

.icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background: #007bff; */
  color: #000000;
  /* font-weight: bold; */
  transition: background 0.3s ease-in-out;
  font-size: 16px;
}

.icon:hover {
  background: var(--highlight-color); 
  color: white; /*give the startbuks green*/
}





.faq_answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
  padding: 0 0 10px 0;
  color: #555;
}

.faq_answer.expanded {
  max-height: 500px;
  opacity: 1;
  padding-top: 10px;
}

@media (max-width: 850px) {
  .faq_container{
    width: 90%;
  }

  .faq_question{
    font-size: .8rem;
  }

  .faq_answer{
    font-size: .7rem;
  }

  .icon:hover {
    background: none;
    color: #000000;
  }
}