
.scroll_to_top_section{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll_to_top {
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    opacity: 0.7;
    font-size: 16px;
    z-index: 1000;
    width: max-content;
    height: max-content;
  }
  
  .scroll_to_top:hover {
    opacity: 1;
    background: var(--highlight-color);
    color: black;
  }
  

  